= form_with(model: retweet) do |form|
  = form.hidden_field :tweet_id
  -# %div
  -#   = form.label :body, style: "display: block"
  -#   = form.text_field :body
  %div
    = form.submit "Retweet", class: "btn btn-primary"
