=turbo_frame_tag dom_id(tweet) do
  .tweet 
    .tweet--inner{class:[("tweet-anmation" if local_assigns[:animate])]}
      -if tweet.user.avatar.attached?
        = image_tag url_for(tweet.user.avatar), class: "img-thumbnail"
      %div.tweet-content
        %header
          %p= tweet.user.username_or_email
          %time
            =link_to tweet_path(tweet) do
              hace
              = time_ago_in_words(tweet.created_at)
        =render "tweets/form", tweet: tweet
        .icons
          %button Retweet