%p{:style => "color: green"}= notice
= render @user
- if current_user.following? @user
  = link_to "Dejar de seguir", unfollow_user_path(@user)
- else
  = link_to "Seguir", follow_user_path(@user)

%div
  =render @tweets
