<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <% @tweets.each do |tweet| %>
    <li><%= tweet.body %></li>
    <%= link_to "retweet" retweet_tweet_post method: :post %>
  <% end %>
</div>
