<p style="color: green"><%= notice %></p>

<h1>Hashtags</h1>

<div id="hashtags">
  <% @hashtags.each do |hashtag| %>
    <%= render hashtag %>
    <p>
      <%= link_to "Show this hashtag", hashtag %>
    </p>
  <% end %>
</div>

<%= link_to "New hashtag", new_hashtag_path %>
