body{
  margin: 0;
}
main{
  width: 1028px;
  max-width: 100%;
  margin: 0 auto;
  margin-top:2em;
}

.tweet-form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  
}

.navbar{
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1em 2em;
  background-color: #343a40;
  a{
    color: white !important;
  }
  
  .navbar-nav{
    display: flex;
    flex-direction: row;
    gap:2em;
    justify-content: flex-end;
  }
}




.aside-with-main{
  display: grid;
  gap:30px;
  grid-template-columns: 200px minmax(0, 1fr) 200px;
}

.img-thumbnail{
  border-radius: 50%;
  width: 250px;
  aspect-ratio: 1/1;
  display: block;
  margin: 0 auto;
}

.image-container {
  display: flex;
  max-width: 300px;
  max-height: 450px;
}

.tweet-image {
  width: 20vw;
  height: auto;
  border-radius: 10px;
}


.tweet-animation{
  transform-origin: top;
  animation: slideDown 0.5s ease-in-out;
  // animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: scaleY(0);
}

.tweet{
  overflow-y: hidden;
  // transition: 0.2s ease-out;
  
  // &:hover{
  //   background-color: #f8f9fa;
  // }
}

.tweet--inner {
  border-bottom: 1px solid #ced4da;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  display: grid;
  gap: 1em;
  grid-template-columns: 60px 1fr;
  grid-template-areas: "avatar tweet";

  &.individual{
    grid-template-areas: "avatar tweet"
                          "icons icons";
    .actions-bar{
      grid-area: icons;
      width: 100%;
      margin-top:1em;
      display: flex;
      flex-direction: column;
      gap:1em;
    }
  }
  

  img {
    grid-area: avatar;
  }

  .tweet-content {
    grid-area: tweet;
  }

  .icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    gap: 1em;
    // justify-content: space-between;
    align-items: center;
  }
  header{
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
    margin-bottom: 12px;
    p{
      margin:0;
    }
    time{
      font-weight: 300;
      color: #6c757d;
      font-size: 0.7em;
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.no-margin{
  margin: 0;
}

.subtitle-text{
  font-size: 1.2em;
  color: #6c757d;
  font-weight: 300;
}