body{
  margin: 0;
}
main{
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  margin-top:2em;
}

.tweet-form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  
}

.navbar{
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1em 2em;
  background-color: #343a40;
  a{
    color: white !important;
  }
  
  .navbar-nav{
    display: flex;
    flex-direction: row;
    gap:2em;
    justify-content: flex-end;
  }
}


.tweet{
  border-bottom: 1px solid #ced4da;
  padding: 1em;
  display: grid;
  gap:1em;
  grid-template-columns: 90px 1fr;
  grid-template-areas: "avatar tweet"
                      "icons icons";
  img{
    grid-area: avatar;
  }
  .tweet-content{
    grid-area: tweet;
  }
  .icons{
    grid-area: icons;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
  }
}

.aside-with-main{
  display: grid;
  gap:30px;
  grid-template-columns: 300px minmax(0, 1fr);
}

.img-thumbnail{
  border-radius: 50%;
  width: 250px;
  aspect-ratio: 1/1;
  display: block;
  margin: 0 auto;
}